/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap'); */

* {
    font-family: 'Raleway';
    font-size: 1em;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}


body {
    font-family:'Raleway';
    margin: 0px 50px;
    font-size: 18px;
}

h1 {
    font-size: 150%;
    color: black;
    font-family: 'Raleway';
}

h2 {
    font-size: 120%;
}


/* ********** header + nav ********* */


header {
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

header #logo {
    padding: 25px 0px;
}

header #logo img {
    width: 150px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    padding: 50px 25px;
    border-top: 4px solid transparent;
    margin: 0px 20px 0px 20px;
}

header nav ul li:hover {
    border-color: #0065FC;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li:hover a {
    color: #0065FC;
}


/* ********* titre + search-box ************ */


h1 {
    margin-bottom: 10px;
}

.subtitle {
    display: block;
    margin-bottom: 20px;
}

.searchBox {
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width: 312px;
    height: 50px;
    margin-bottom: 20px;
}

.searchBox .fa-map-marker-alt {
    display: flex;
    padding: 14px;
    font-size: 25px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.searchBox input {
    outline: none;
    margin-left: -5px;
    border: none;
    padding: 10px;
    color: black;
    font-weight: bold;
}

.searchBox button {
    background-color: #0065FC;
    color: white;
    height: 52px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
    cursor: pointer;
}

.searchBox button .fa-search {
    display: none;
}


/* ********** Filtre ******** */


#filtre {
    display: flex;
    align-items: center;
}

#filtre .filtreBox {
    margin: 15px 20px 10px 20px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 1s;
}

#filtre .filtreBox i {
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 100%;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filtre .filtreBox:hover {
    transition: background-color 1s;
    background-color: #DEEBFF;
}

.filtreBox .texte {
    padding: 0px 15px;
}


/* *************** Infos ************ */


.info {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.info .fas.fa-info {
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


/* **************** Hébergements ************** */


#hebergement {
    display: flex;
    justify-content: space-between;
}

#hebergement .contenant{
    background-color: #F2F2F2;
    padding: 20px 50px 10px 50px;
    border-radius: 25px;
}

#hebergement .contenant h2 {
    margin: 10px 0px 20px 10px;
    color: black;
    font-weight: bold;
}


.hebergementListe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.marseille .hebergementListe a {
    width: 30%;
    margin-bottom: 30px;
}
.marseille .hebergementListe a article {
    background-color:white;
    padding: 6px;
    border-radius: 25px;
    height: 250px;
}

.hebergementListe a article {
    background-color:white;
    padding: 6px;
    border-radius: 25px;
    height: 100%;
}

.hebergementListe a article:hover {
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.hebergementListe a article img {
    width: 285px;
    height: 140px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.hebergementListe a article .articleContenant {
    padding: 10px 10px 0px 10px;
}

.hebergementListe a article .articleContenant h3,
.hebergementListe a article .articleContenant p {
    margin: 6px;
    font-weight: bold;
}
.hebergementListe a article .fa-star.blue {
    color: #0065FC;
}

.hebergementListe a article .fa-star.grey {
    color: #d9d9d9;
}


/* ********************** Marseille ************************ */


#hebergement .marseille {
    background-color: #F2F2F2;
    width: 60%;
    border-radius: 25px;    
}

#hebergement .marseille .subtitle {
    font-weight: bold;
    font-size: 120%;
}


/* ************* Populaire ******************** */


.populaire .graphiqueIcon {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 125%;
}

#hebergement .populaire {
    width: 35%;
    position: relative;
}

#hebergement .populaire .hebergementListe {
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 10px;
}

.populaire .hebergementListe a {
    width: 100%;
    padding-bottom: 40px;
}

#hebergement .populaire .hebergementListe a article {
    display: flex;
    flex-direction: row;
}

#hebergement .populaire .hebergementListe a article img {
    border-radius: 25px 0px 0px 25px;
    width: 200px;
    height: 150px;
}

#hebergement .populaire .hebergementListe a article .articleContenant {
    display: flex;
    flex-direction: column;  
}

.populaire .hebergementListe a article .articleContenant .tauxEtoile {
    padding-top: 35px;
}

/* ********************** Activite ***************** */


#activite {
    padding: 60px 0px 30px 0px;
    margin-bottom: 60px;
}

.activiteListe {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0px 0px 0px;
}

.activiteListe article {
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    padding: 0px 0px 20px 0px;
    border-radius: 25px;
    margin: 0px 0px 20px 0px;
}

.activiteListe .colonne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
}

.activiteListe .colonne article img {
    width: 400px;
    height: 550px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activiteListe .colonneDouble article img {
    width: 400px;
    height: 222px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.activiteListe h3 {
    padding: 20px;
}

.activiteListe .article .colonneDouble article {
    padding-bottom: 50px;
}


/* *************** Footer *************** */


footer {
    background-color: #F2F2F2;
    margin: 0px -50px;
    padding: 50px;
    display: flex;
}

footer .colonne {
    width: 30%;
}

footer .colonne ul {
    padding: 0px;
    list-style-type: none;
}

footer .colonne ul li a {
    color: black;
    text-decoration: none;
    line-height: 35px;
}

